<li dropdown class="helpdesk header" ng-if="showHelpdeskDropdown">
  <a class="open-ticket-direct-link pull-left" ng-click="openHelpdeskTicketModal()">
    <span class="badge" ng-if="currentOpenTicket" tooltip="Ticket open for {{currentOpenTicket.lengthOfTimeOpen()}}" tooltip-placement="bottom" tooltip-append-to-body="true">
      <i class="fa fa-ticket"></i>
    </span>
  </a>
  <a class="dropdown-toggle pull-right" dropdown-toggle>
    <i class="fa fa-ambulance"></i>
    Helpdesk
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li ng-if="studiesUnit">
      <a ng-click="openHelpdeskTicketModal()">
        {{ currentOpenTicket ? "View Open Ticket" : "Submit a Ticket" }}
      </a>
    </li>
  </ul>
</li>
