.helpdesk.header {
  display: inline;
  .dropdown-toggle {
    padding-left: 0;
  }
  .helpdesk-direct-link {
    padding-right: 1em;
    &:not(:first-child) {
      padding-left: 0;
    }
    .badge {
      background-color: $doubtfire-color;
    }
  }
}
