<li dropdown class="helpdesk header" ng-show="showHelpdeskDropdown">
  <a class="helpdesk-direct-link pull-left" ng-click="openHelpdeskTicketModal()" ng-if="currentOpenTicket">
    <span class="badge" tooltip="Ticket open for {{currentOpenTicket.lengthOfTimeOpen()}}" tooltip-placement="bottom" tooltip-append-to-body="true">
      <i class="fa fa-ticket"></i>
    </span>
  </a>
  <a class="helpdesk-direct-link pull-left" ng-click="openHelpdeskSessionModal()" ng-if="currentWorkingSession">
    <span class="badge" tooltip="You finish working in {{currentWorkingSession.timeUntilFinish()}}" tooltip-placement="bottom" tooltip-append-to-body="true">
      <i class="fa fa-clock-o"></i>
    </span>
  </a>
  <a class="dropdown-toggle pull-right" dropdown-toggle>
    <i class="fa fa-ambulance"></i>
    Helpdesk
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li ng-if="studiesUnit">
      <a ng-click="openHelpdeskTicketModal()">
        {{ currentOpenTicket ? "View Open Ticket" : "Submit a Ticket" }}
      </a>
    </li>
    <li ng-if="teachesUnit">
      <a ng-click="openHelpdeskSessionModal()">
        {{ currentWorkingSession ? "Clock Off" : "Clock On" }}
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a ui-sref="helpdesk"> View Helpdesk Dashboard </a>
    </li>
  </ul>
</li>
