<div class="ticket-modal">
  <form class="form-horizontal" role="form">
    <div class="modal-header" ng-show="isNew">
      <h3>Submit a Ticket</h3>
      <p class="lead">
        Having trouble with something? Get help from a tutor at the programming
        helpdesk, located at ATC620.
      </p>
    </div><!--/new-ticket-header-->
    <div class="modal-header" ng-hide="isNew">
      <h3>Currently Open Ticket</h3>
    </div><!--/existing-ticket-header-->
    <div class="modal-body">
      <div class="form-group unit-selection">
        <label class="col-sm-3 control-label">Unit</label>
        <div class="col-sm-7">
          <p class="form-control-static" ng-if="projects.length == 1 || !isNew">
            <label class="label label-info small">{{ticket.project.unit_code}}</label>
            <span class="unit-name">{{ticket.project.unit_name}}</span>
          </p>
          <div class="btn-group dropdown" ng-if="projects.length > 1 && isNew" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default form-control dropdown-toggle" dropdown-toggle>
              <span ng-show="ticket.project" class="pull-left">
                <label class="label label-info small">{{ticket.project.unit_code}}</label>
                <span class="unit-name">{{ticket.project.unit_name}}</span>
              </span>
              <span ng-hide="ticket.project" class="pull-left">
                Select a Unit
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="project in projects">
                <a ng-click="ticket.project = project">
                  <label class="label label-info small">{{project.unit_code}}</label>
                  <span class="unit-name">{{project.unit_name}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/unit-selection-->
      <div class="form-group" ng-if="ticket.unit">
        <label class="col-sm-3 control-label">Task</label>
        <div class="col-sm-7" ng-if="isNew">
          <task-definition-selector button-style="default" unit="ticket.unit" ng-model="ticket.taskDef" on-select-definition="taskDefSelected"></task-definition-selector>
          <p class="help-block">
            Select a task that you want help with, or leave blank if you have a
            general question.
          </p>
        </div><!--/task-selector-if-new-->
        <div class="col-sm-7" ng-if="!isNew">
          <div ng-if="ticket.taskDef" class="selected-task-detail">
            <label class="label label-info">{{ticket.taskDef.abbreviation}}</label>
            {{ticket.taskDef.name}}
          </div>
          <div class="text-muted form-control-static" ng-hide="ticket.taskDef">
            No task provided
          </div>
        </div>
      </div><!--/task-selection-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-7" ng-if="isNew">
          <markdown-editor ng-model="ticket.description" placeholder="Enter description" height="100"></markdown-editor>
          <p class="help-block">
            Give the tutor some context to your issue by providing a description
            of your question. {{description}}
          </p>
        </div>
        <div class="col-sm-7" ng-if="!isNew">
          <div ng-show="ticket.description" class"form-control-static" ng-bind-html="ticket.description | markdown"></div>
          <p ng-hide="ticket.description" class="text-muted form-control-static">
            No description provided
          </p>
        </div>
      </div><!--/description-->
      <div class="form-group" ng-if="!isNew">
        <label class="col-sm-3 control-label">In Queue For</label>
        <div class="col-sm-7 form-control-static">
          {{ticket.lengthOfTimeOpen()}}
          <small class="text-muted">
            ({{ticket.created_at | date:'shortTime'}})
          </small>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button ng-click="$dismiss()" class="btn btn-primary">
        Close
      </button>
      <button ng-disabled="ticket.project == null" ng-click="openTicket()" class="btn btn-success" ng-if="isNew">
        <i class="fa fa-ticket"></i> <i class="fa fa-plus"></i> Submit Ticket
      </button>
      <button ng-click="closeTicket()" class="btn btn-danger" ng-if="!isNew">
        <i class="fa fa-ticket"></i> <i class="fa fa-trash-o"></i> Close Ticket
      </button>
      <button ng-click="resolveTicket()" class="btn btn-success" ng-if="!isNew" if-role="Tutor Convenor Admin">
        <i class="fa fa-ticket"></i> <i class="fa fa-check"></i> Resolve Ticket
      </button>
    </div><!--/footer-->
  </form>
</div>
