<div class="helpdesk-submit-ticket-modal">
  <form class="form-horizontal" ng-submit="openTicket()" role="form">
    <div class="modal-header">
      <h3>Submit a Ticket</h3>
      <p class="lead">
        Having trouble with something? Get help from a tutor at the programming
        helpdesk, located at ATC620.
      </p>
    </div>
    <div class="modal-body">
      <div class="form-group unit-selection">
        <label class="col-sm-3 control-label">Unit</label>
        <div class="col-sm-7">
          <p class="form-control-static" ng-if="projects.length == 1">
            <label class="label label-info small">{{selectedProject.unit_code}}</label> - <span class="unit-name">{{selectedProject.unit_name}}</span>
          </p>
          <div class="btn-group dropdown" ng-if="projects.length > 1" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default form-control dropdown-toggle" dropdown-toggle>
              <span ng-show="selectedProject" class="pull-left">
                <label class="label label-info small">{{selectedProject.unit_code}}</label> - <span class="unit-name">{{selectedProject.unit_name}}</span>
              </span>
              <span ng-hide="selectedProject" class="pull-left">
                Select a Unit
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="project in projects">
                <a ng-click="selectedProject = project"><label class="label label-info small">{{project.unit_code}}</label> - <span class="unit-name">{{project.unit_name}}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/unit-selection-->
      <div class="form-group" ng-if="selectedUnit">
        <label class="col-sm-3 control-label">Task</label>
        <div class="col-sm-7">
          <task-definition-selector button-style="default" unit="selectedUnit" on-select-definition="taskDefSelected"></task-definition-selector>
          <p class="help-block">
            Select a task that you want help with, or leave blank if you have a
            general question.
          </p>
        </div>
      </div><!--/task-selection-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-7">
          <markdown-editor ng-model="description" placeholder="Enter description" height="100"></markdown-editor>
          <p class="help-block">
            Give the tutor some context to your issue by providing a description
            of your question.
          </p>
        </div>
      </div><!--/description-->
    </div>
    <div class="modal-footer text-right">
      <input type="submit" class="btn btn-primary" value="Open Ticket" />
    </div>
  </form>
</div>
