<div>
  <form class="form-horizontal" ng-submit="createTicket()" role="form">
    <div class="modal-header">
      <h3>Create Ticket</h3>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class="col-sm-3 control-label">Unit</label>
        <div class="col-sm-7">
          <div class="btn-group dropdown" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              <label class="label label-info small">{{projects[0].unit_code}}</label> - <span class="unit-name">{{projects[0].unit_name}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="project in projects">
                <a ng-click="status.isopen = false" ng-hide=""><label class="label label-info small">{{project.unit_code}}</label> - <span class="unit-name">{{project.unit_name}}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Task Id</label>
        <div class="col-sm-7">
          <input type="input" class="form-control" placeholder="eg 1.2">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-7">
          <input type="input" class="form-control" placeholder="Description">
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <input type="submit" class="btn btn-primary" value="Create" />
    </div>
  </form>
</div>
